<div class="container">
<div class="chatbotheading">
  <img class="botimg" src="../../assets/robot (2).png" alt="">
  <p class="botname">Pizza Chat Bot</p>
</div>
<div class="chatContainer" id="chatContainer">
  <div class="chatBox" id="chatBox"></div>
</div>
<div class="responseContainer">
  <input class="responseField" #question type="text" placeholder="   please enter response..." />
  <img class="responseButton" src="../../assets/enter.png" alt="button-image" (click)="chatUserRequest(question.value)">
</div>
</div>
